#homepage-header {
    background-image: url("https://w0.peakpx.com/wallpaper/200/532/HD-wallpaper-black-plain.jpg");
    background-size: cover; /* Ensures the background image covers the header */
    color: #EEE;
    padding: 50px 0; /* Optional, adjust padding to give more space */
}

header {
    background-color: #6f5499;
    color: #cdbfe3;
}

header h1 {
    color: #FFF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; /* Automatically adjust the height */
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
}

#jay {
    width: 100%; /* Make the element responsive */
    height: 400px; /* Set the fixed height */
}

#contact {
    padding: 15px;
}

#imgbro {
    width: 100%; /* Makes the image responsive */
    max-width: 400px; /* Limits the maximum width */
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px; /* Optional: Adds space between images */
}

.slides {
    display: flex;
    flex-wrap: nowrap;
}

.slide {
    scroll-snap-align: center;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 500px;
}

.resume {
    width: 50%;
}
